{% extends "base.html" %}
{% load static %}

{% block canonical %}
<link rel="canonical" href="https://www.zafium.com/layerforge/">
{% endblock %}

{% block body_class %}layerforge-page{% endblock %}

{% block title %}zafium | AI, Data, Design & Automation Solutions{% endblock %}



{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/layerforge.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

<h2 class="app-title">
    LayerForge
    <span class="byline">by zafium</span>
</h2>

<div id="alert" class="alert"></div>

<div class="app">

    <!-- CONTROLS -->
    <div class="controls">
        <div class="control">
            <label>Upload Image</label>
            <input type="file" id="imageUpload" accept="image/png,image/jpeg">
        </div>

        <hr>

        <div class="control">
            <label>EDGE_DETECTION_THRESHOLD <span class="value" id="edge_detection_threshold_val">10</span></label>
            <input type="range" id="edge_detection_threshold" min="1" max="30" value="10">
        </div>

        <div class="control">
            <label>MIN_ANCHOR_DISTANCE <span class="value" id="min_anchor_distance_val">15</span></label>
            <input type="range" id="min_anchor_distance" min="3" max="40" value="15">
        </div>

        <button id="downloadBtn" class="btn-primary" disabled>Download SVG</button>
    </div>

    <!-- OUTPUT -->
    <div class="output">
        <div class="zoom-controls">
            <button id="zoomOut">−</button>
            <button id="zoomReset"><i class="fa fa-refresh fa-spin" style="font-size:14px"></i></button>
            <button id="zoomIn">+</button>
        </div>

        <div id="preview">
            <div id="svgWrapper"></div>

            <div id="loader" class="hidden">
                <div class="spinner"></div>
                <div>Generating layers…</div>
            </div>
        </div>
    </div>

</div>

{% block extra_js %}
<script src="{% static 'js/layerforge.js' %}"></script>

<script>

function showUsageLimitAlert() {
    const alertBox = document.getElementById("alert");

    alertBox.innerText =
        "⚠️Usage limit exceeded⚠️\nYou have reached your daily " +
        "LayerForge usage limit. Please purchase a plan " +
        "or wait 24 hours for your limit to reset.";

    alertBox.classList.add("show");
}


{% if usage_limit_exceeded %}
document.addEventListener("DOMContentLoaded", function () {
    showUsageLimitAlert();
});
{% endif %}

</script>

{% endblock %}


{% endblock %}