/* =========================
   NAV DROPDOWN
========================= */

.logo {
    display: inline-flex;
    align-items: center;      /* Vertically centers logo and text */
    gap: 0px;
}

.logo img {
    width: 50px;
    height: auto;
}

.logo-text{
    margin-bottom: -1px;
    font-size:2rem;
    font-weight:700;
    font-family:'Space Grotesk', sans-serif;
    letter-spacing:2px;
    align-items: center;
    margin: 0;
    padding: 0;
    line-height: 1;
    margin-top: 5px;

    background:linear-gradient(
        90deg,
        #6D5EF9,
        #38BDF8,
        #22D3EE
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

    text-transform:uppercase;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;

    min-width: 220px;

    background: rgba(15, 23, 42, 0.900);
    border: 1px solid var(--border);
    border-radius: 12px;

    padding: 10px 0;

    display: none;

    backdrop-filter: blur(12px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.600);
}

.dropdown-menu li {
    list-style: none;
}

.dropdown-menu a {
    display: block;
    padding: 10px 16px;

    color: var(--muted);
    transition: 0.2s ease;
}

.dropdown-menu a:hover {
    color: var(--text);
    background: rgba(99, 102, 241, 0.1);
}

/* hover behavior */
.dropdown:hover .dropdown-menu {
    display: block;
}