<footer class="site-footer" id="site-footer">


<div class="container">

    <div class="footer-grid">

        <div>

            <h3>Zafium</h3>

            <p>
                Design, Data, AI, Automation and
                Web Development Solutions.
            </p>

        </div>

        <div>

            <h4>Services</h4>

            <ul>
                <li><a href="/portfolio/Design/">Design</a></li>
                <li><a href="/portfolio/web-development/">Web Development</a></li>
                <li><a href="/portfolio/ai/">Artificial Intelligence</a></li>
                <li><a href="/portfolio/video/">Video</a></li>
                <li><a href="/portfolio/training/">Training and Education</a></li>
                <li><a href="/portfolio/data-scraping/">Data Scraping</a></li>
                <li><a href="/portfolio/research/">Research</a></li>
                <li><a href="/portfolio/automation/">Automation</a></li>
            </ul>

        </div>

        <div>

            <h4>Projects</h4>

            <ul>
                <li><a href="/layerforge/">LayerForge</a></li>
                <li><a href="/autolytics/">AutoLytics</a></li>
            </ul>

        </div>

        <div>

            <h4>Contact</h4>

            <ul>
                <li>info@zafium.com</li>
                <li>+92 319 2774192</li>
                <!--<li>R-6, Sector C, SACHS, Scheme 33, Karachi, Pakistan</li>-->
            </ul>

        </div>

    </div>

    <div class="footer-bottom">

        © {% now "Y" %} zafium.
        All Rights Reserved.

    </div>

</div>


</footer>
