{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}"/>
{% endblock %}

<header class="site-header">

    <div class="container navbar">

        <a href="/" class="logo">
            <img src="{% static 'images/zafium_transparent.png' %}" alt="logo"></img>
            <span class="logo-text">
                Zafium
            </span>
        </a>

        <!-- HAMBURGER BUTTON -->
        <button class="menu-toggle" id="menuToggle" aria-label="Toggle menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <!-- NAV -->
        <ul class="nav-links" id="navLinks">

            <li><a href="/">Home</a></li>
            <li><a href="/services/">Services</a></li>
            <li class="dropdown">
                <a href="#">Portfolio</a>

                <ul class="dropdown-menu">

                    {% for category in portfolio_categories %}

                        <li>
                            <a href="/portfolio/{{ category.slug }}/">

                                {% if category.icon %}
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" fill="currentColor">
                                        <!--!Font Awesome Free v7.3.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
                                        <path d="{{ category.icon }}"/>
                                    </svg>
                                {% endif %}

                                <span>{{ category.name }}</span>

                            </a>
                        </li>

                    {% endfor %}

                </ul>
            </li>
            <li><a href="/about/">About</a></li>
            <li class="dropdown">
                <a href="#">Projects</a>
                <ul class="dropdown-menu">
                    <li><a href="/layerforge/">LayerForge</a></li>
                    <li><a href="/autolytics/">AutoLytics</a></li>
                </ul>
            </li>
            <li><a href="/order/">Order</a></li>
            <li><a href="/live-activity/">Live Orders Activity</a></li>
            <li><a href="/contact/">Contact Us</a></li>

            <li class="dropdown">
                <a href="#">Legal</a>
                <ul class="dropdown-menu">
                    <li><a href="/pricing/">Pricing</a></li>
                    <li><a href="/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="/terms-of-service/">Terms of Service</a></li>
                    <li><a href="/refund-policy/">Refund Policy</a></li>
                </ul>
            </li>
            {% if dashboard_token %}
            <li>
                <a href="{% url 'core:dashboard' dashboard_token %}">
                    Client Dashboard
                </a>
            </li>
            {% endif %}

        </ul>

    </div>

</header>